#pause{
    width: 100px;
    align-self: center;
    margin-top: 10px;
}
#icon{
    font-size: 5em;
    color: rgb(94, 94, 90);
}
.all{
    
    background-color:rgb(211,211,211);
}
body {
    background-image:url(pexels-todd-trapani-2276928.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}

  